form {
  border: 0px solid #7cb69d;
}
/*assign full width inputs*/

input[type=text],
input[type=password] {
  width: 20%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #7cb69d;
  box-sizing: border-box;
}
/*set a style for the buttons*/

button {
  background-color: #7cb69d;
  color: #7cb69d;
  padding: 12px 20px;
  margin: 8px 0;
  border: ;
  cursor: pointer;
  width: 10%;
}
/* set a hover effect for the button*/

button:hover {
  opacity: 0.8;
}
/*set extra style for the cancel button*/

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/*centre the display image inside the container*/

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
/*set image properties*/

img.avatar {
  width: 10%;
  border-radius: 20%;
}
/*set padding to the container*/

.container {
  position: relative;

}

.textbook{
  color: #7cb69d;
  border: 2px;
  border-radius: 10px;
  outline: ;
  background: none;
  padding: 10px;
}
.textboo{
 color: #000000;
 border: 2px;
 border-radius: 10px;
 outline: ;
 background: #7cb69d;
 padding: 10px;
}

.form-lable{
  position: absolute;
  top: 0.6rem;
  left: 1.4rem;
  cursor: text;
}

.textbook:focus ~ .form-lable{
  top: -0.3rem;
  left: 0.5rem;
  font-size: 10px;
}

/*set the forgot password text*/

span.psw {
  float: right;
  padding-top: 16px;
}
.center {
margin: auto;
width: 50%;
border: 3px;
padding: 10px;
}
/*set styles for span and cancel button on small screens*/

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
